.container {
	display: flex;
	flex-direction: column;
	font-size: 1.25rem;
}

.container p {
	margin: 0.25rem 0;
}

.title {
	font-size: 3rem;
	margin-bottom: 10px;
}

.image {
	width: 100%;
	object-fit: cover;
}
