.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    justify-content: center;
	
    margin-bottom: 20px;
 	border-radius: 4px; 
	gap: 16px;
}

.card{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    font-size: 1rem;
    text-align: start;
	
    
} 

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.image {
    width: 100%;
	
	object-fit: cover;
      
} 

.read {
	display: inline-block;
	margin-top: 10px;
	color: white;
	background-color: black;
	cursor: pointer;
	border: solid;
	border-radius: 5px;
	padding: 5px;
	border-color: black;
	width: fit-content;
}

.featuredTitle {
	margin-top: 20px;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}