.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    justify-content: center;
    margin-bottom: 20px;
    background: #f0f0f0; 
   
  border: 1px solid #ddd; 
  border-radius: 4px; 
}

.card{
    text-align: start;
    
    padding: 16px
} 

.imageCard{
    width: 100%;
    padding: 16px
}




.image {
    width: 65%;
    height: auto;
    border-radius: 10px;    
} 

.read {
    color: white;
    background-color: black;
    cursor: pointer;
    border: solid;
    border-radius: 5px;
    padding: 5px;
    border-color: black;
}