.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 0;
    margin-bottom: 20px;
    border-radius: 4px;
    gap: 16px;
}

.imageContainer {
    position: relative;
    max-width: 300px;
    width: 100%;
    height: 200px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;
    text-align: start;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
}

.image {
    width: 100%;
    object-fit: cover;
}

.read {
    display: inline-block;
    margin-top: 10px;
    color: white;
    background-color: black;
    cursor: pointer;
    border: solid;
    border-radius: 5px;
    padding: 5px;
    border-color: black;
    width: fit-content;
}

.featuredTitle {
    margin-top: 20px;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        height: auto;
    }
}
