.container {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.textarea {
	width: 100%;
	height: 100px;
	padding: 10px;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}
.button {
	margin-top: 10px;
	padding: 8px 16px;
	background-color: black;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: fit-content;
}
