/*Footer */
/* .footer {
  
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin-top: 40px;
  grid-area: footer;
  background-color: lightgrey;
   grid-template-areas:
    "listContainer"
    "footerInfo";
}

.list {
  display: flex;

  flex-direction: column;
  gap: 10px;
  font-weight: 300;
  border: solid;
}

.listContainer {
  grid-area: listContainer;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}


.footerContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.footerInfo {
  display: flex;
  flex-direction: column;
  width: 400px;
  
} */