.grid_container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 40px;

	gap: 15px;
	justify-content: space-between;
	background-color: lightgray;
	padding: 16px;
	border-radius: 10px;
	margin-bottom: 20px;
	font-size: 0.8rem;
}

.card {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.listCard {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
	gap: 30px;
	justify-content: flex-start;
	margin-bottom: 20px;
}

.logoContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.description {
	margin-top: 10px;
	font-size: 1rem;
	color: #555;
	max-width: 600px;
	text-align: left;
}

.logo {
	display: flex;
	justify-content: center;
    flex-direction: column;
	font-size: 2rem;
	border-radius: 50%;
	margin-right: 10px;
	background-color: black;
	color: white;
	padding: 10px;
	width: 60px;
	height: 60px;
	
	
}

.list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	gap: 12px;
}

.listTitle {
	font-size: 1.1rem;
	margin-bottom: 8px;
}

.footerTitle {
	font-size: 1.5rem;
	font-weight: bold;
}
