/*Header */
.header {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100%;
}

.titleText {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
}

.linkContainer {
    display: none; /* Hidden by default (mobile) */
}

.links {
    display: flex;
    margin-left: 5px;
    gap: 20px;
    justify-content: start;
}

.navbar {
    display: flex;
    gap: 16px;
    background-color: white;
    justify-content: space-between; /* This pushes .links left and .search right */
    transition: left 0.3s;
    align-items: center;
}

.hamburgerMenu {
    z-index: 100;
    width: 100%;
    background-color: white;
    top: 100px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 0px;
    transition: height 0.4s ease;
    overflow: hidden;
    gap: 20px;
}

.menuChange {
    height: 150px;
    transition: height 0.4s ease;
}
.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: all 0.25s linear;
}

.buttonChange .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
    transition: all 0.25s linear;
}

.buttonChange .bar2 {
    opacity: 0;
    transition: all 0.25s linear;
    background-color: black;
}

.buttonChange .bar3 {
    transform: translate(0, -11px) rotate(45deg);
    transition: all 0.25s linear;
}

.hamburgerButton {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.search {
    margin-right: 5px;
    justify-content: end;
    position: relative;
}

.search > input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 200px; /* Adjust width as needed */
}

.searchMenu {
    position: absolute;
    top: 33px; /* Adjust based on your navbar height */
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1000;
    justify-content: end;
}

.searchResult {
    display: block;
    padding: 8px;
    cursor: pointer;
}

.searchResult:hover {
    background-color: #f0f0f0;
}

.searchResult:active {
    background-color: #e0e0e0;
}

@media screen and (min-width: 769px) {
    /* large tablets & small laptops */
    .titleText {
        font-size: 4rem;
    }
    .header {
        height: 150px;
    }
    .hamburgerMenu {
        top: 150px;
    }
}

/* Show on tablet/desktop */
/* Hide hamburger menu on desktop */
@media screen and (min-width: 850px) {
    .linkContainer {
        display: block;
    }
    .hamburgerButton {
        display: none;
    }
}

@media screen and (min-width: 1025px) {
    /* large laptops & desktop */
    .titleText {
        font-size: 6rem;
    }
    .header {
        height: 200px;
    }
}

@media screen and (min-width: 1440px) {
    /* large desktops */
    .titleText {
        font-size: 7rem;
    }
}

@media screen and (min-width: 1306px) {
    .titleText {
        font-size: 7.5rem;
    }
}
