.container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
}

.comment {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.profilePic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.commentHeader {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 20px;
}
