.container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 16px;
	justify-content: center;
	margin-bottom: 20px;
	
}

.category {
	font-size: 1.5rem;
	margin-bottom: 20px;
	text-align: left;
	transition: transform 0.3s ease;
}
.category:hover {
	transform: scale(1.05);
	cursor: pointer;
	background-color: white;
	
}

.categoryTitle {
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 20px;
}

.image {
	width: 100%;
	aspect-ratio: 1/1;
	height: auto;
}
