.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  justify-content: center;
}

.card {
  background: #f0f0f0;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: left;
  /* border: solid; */
}

.image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.read {
  color: white;
  background-color: black;
  cursor: pointer;
  border: solid;
  border-radius: 5px;
  padding: 5px;
  border-color: black;
}
