.container {
  min-height: 100vh;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 170px;
  padding-right: 170px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  /* background-color: white; */
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: white;
  grid-template-columns: 1fr;
}

/*Header */
.header {
  grid-area: header;
  top: 0;
  position: sticky; 
  background-color: white;
  display: flex;
  flex-direction: column;
  
  z-index: 100; /* Add this to ensure it stays on top */
}

.titleText {
  font-size: 7.8125rem;
  font-weight: bold;
  color: #333;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
  background-color: white;
   
}


.navbar {
  
  display: flex;
  background-color: white;
  justify-content: space-between; /* This pushes .links left and .search right */
  
}

.search {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  justify-content: end;
}


/*Main */
.main {
  margin-top: 40px;
  grid-area: main;
}

/*Sidebar */
.sidebar {
  height: calc(100vh - 100px);
  grid-area: sidebar;
  background-color: grey;
  position: fixed;
  top: 100px;
  align-self: start;
  width:300px;
  display: none;

}
.show {
  display: block;
}










