.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 931px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
    /* background-color: white; */
}

.body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
    background-color: white;
}

.header {
    top: 0;
    position: sticky;
    z-index: 1000;
    background-color: white;
}

.main {
    flex: 1;
}

@media (min-width: 600px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }
}
