.container {
  min-height: 100vh;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 170px;
  padding-right: 170px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  /* background-color: white; */
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: white;
  grid-template-columns: 1fr;
}

/*Header */
.header {
  grid-area: header;
  top: 0;
  position: sticky; 
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 200px;
 
}

.titleText {
  font-size: 125px;
  font-weight: bold;
  color: #333;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
   
}

@media screen and (max-width:1306px) {
    .titleText {
        font-size: 100px;
    }
    
}

@media screen and (max-width:1000px) {
    .titleText {
        font-size: 90px;
    }
    
}

@media screen and (max-width:1000px) {
    .titleText {
        font-size: 90px;
    }
    
}

@media screen and (max-width:900px) {
    .titleText {
        font-size: 80px;
    }
    
}

@media screen and (max-width:800px) {
    .titleText {
        font-size: 60px;
    }
    
}

@media screen and (max-width:750px) {
    .titleText {
        font-size: 50px;
    }
    
} 

@media screen and (max-width:650px) {
    .titleText {
        font-size: 50px;
    }
    
}








.navbar {
  
  display: flex;
  background-color: white;
  justify-content: space-between; /* This pushes .links left and .search right */
  
}

.links {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  display: flex;
  gap: 20px;
  justify-content: start;
  
} 

.button {
  display: none;
}

.menuButton {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px; /* Adjust size as needed */
}

.search {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  justify-content: end;
  
}

@media screen and (max-width:950px) {
    .links {
        display: none;
    }
    .button {
        display: block;
    }
  }

/*Main */
.main {
  
  margin-top: 40px;
  grid-area: main;
 
}

/*Sidebar */
.sidebar {
  height: calc(100vh - 200px);
  grid-area: sidebar;
  background-color: grey;
  position: fixed;
  top: 200px;
  align-self: start;
  width:300px;
  display: none;

}
.show {
  display: block;
}










