.container {
	min-height: 100vh;
	max-width: 1536px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 170px;
	padding-right: 170px;
	justify-content: center;
	/* background-color: white; */
}

.body {
	margin: 0;
	padding: 0;
	font-family: "Source Sans Pro", sans-serif;
	background-color: white;
}

.header {
	top: 0;
	position: sticky;
}
