.search {
	margin-right: 5px;
	justify-content: end;
	position: relative;
}

.search > input {
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 200px; /* Adjust width as needed */
}
