.search {
    margin-right: 5px;
    justify-content: end;
    position: relative;
    width: fit-content;
}

.searchInput {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 200px;
    width: 100%;
    box-sizing: border-box;
}
