
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 600px;
    gap: 20px;
    
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    

}




.container {
    min-height: 100vh;
    max-width: 1536px;
    margin-left:auto;
    margin-right:auto;
    padding-left: 120px;
    padding-right: 120px;
   
} 


body {
    background-image: url("/fruit_two.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
} 


.socialButton {
    color: white;
    background-color: darkblue;
    cursor: pointer;
    border: solid;
    border-radius: 5px;
    padding: 10px;
    border-color: darkblue;
    width: 200px;
    text-align: center;
} 


.text {
    
    text-align: center;
    padding-right: 35px;
    padding-left: 35px;
    
}